/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

/* Color variables */
:root {
    --primary: #fafafa;
    --secondary: #3a3a3a;
    --highlight: gold;
    --bg-monster-card: red;
    --bg-player-card-front: cyan;
    --bg-player-card-back: pink;
    --bgcolor: white;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    background-color: var(--bgcolor);
    font-family: 'DotGothic16', sans-serif;
    overflow: hidden;
    color: var(--secondary);
}

#top-area {
    top: 0;
}

#bottom-area {
    bottom: 0;
}

.game-area {
    background-color: transparent;
    position: absolute; 
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

 /* Card Styles */
.card {
    position: absolute;
    width: 15rem;
    height: 18rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        opacity 500ms,
        transform 1s;
}

/* Darkens area when needed */
.dim {
    filter: brightness(75%);
}

/* Hides elements when needed */
.hidden {
    visibility: hidden;
}

/* Monster card styles */
.monster-card {
    bottom: 1rem;        
}

.monster-card-front {
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 var(--secondary);
}

.monster-card-front {
    background-color: var(--bg-monster-card);
}

.monster-stats {
    position: absolute;
    left: 0;
    bottom: 10rem;
    width: 100%;
}

/* Player card styles */
.player-card {
    top: 1rem;
}

.player-card-front, .player-card-back {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 var(--secondary);
}

#player-damage-taken {
    position: absolute;
    width: 100%;
    height: 2rem;
    bottom: 35%;
}

.player-card-front {
    background-color: var(--bg-player-card-front);
    transform: rotateY(0deg);
}
  
.player-card-back {
    background-color: var(--bg-player-card-back);
    transform: rotateY(-180deg);
}
/* Text styles on front card */
.player-hp {
    float: left;
}

.player-ac {
    float: right;
}

/* Text styles on back card */
#back-title {
    width: 100%;
    height: 2rem;
}

#back-text {
    width: 100%;
    height: 100%;
}

#back-roll {
    position: absolute;
    top: 40%;
    font-size: 3rem;
    width: 100%;
}

#back-hit {
    position: absolute;
    display: flex;
    top: 60%;
    width: 100%;
    justify-content: center;
}

/* Start button styles */
#start-btn {
    position: absolute;
    display: flex;
    height: 2.5rem;
    width: 10rem;
    top: 5rem;
    margin: 1rem;
    justify-content: center;
    font-size: 2rem;
    transition: 1s;
}

/* Ability buttons area */
.btn-area {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    top: auto;
    bottom: 5rem;
}

.btn {
    font-size: 48px;
    width: 4rem;
    border-radius: 50%;
    transition: transform 1s;
}

#attack-btn {
    position: absolute;
    left: 0.5rem;
}

#ability-btn {
    position: absolute;
    right: 0.5rem;
}

/* Animations */
/* Card flip animation */
.player-card-flip {
    transform: translate(0%, -50%) rotateY(180deg);
}

/* Button fade animation */
.button-fade {
    animation: buttonFade ease 1s;
}
@keyframes buttonFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Player card attack animation */
.player-attack-animation {
    transform: translate(0%, -50%);
    transition: transform 180ms;
}

/* Monster card attack animation */
.monster-attack-animation {
    transform: translate(0%, 30%);
    transition: transform 180ms;
}

/* Animation to hide the monster card */
.hide-monster {
    transform: translate(0%, -110%) rotateX(90deg);
    opacity: 0;
}

/* Used to place the Monster card above the player card during attack animation */
.on-top {
    z-index: 3;
}

/* Animation for the text when damage is taken */
.damage-taken {
    position: absolute;
    font-size: 3.5rem;
    font-family: 'VT323', sans-serif;
    color: var(--primary);
    -webkit-text-stroke: 2px var(--secondary);
    animation: fadeOut 2s;
    animation: damage-taken 1s;
    visibility: visible;
    z-index: 4;
}
@keyframes damage-taken {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -10rem); opacity: 0;}
}

/* Animation for the card when damage is taken */
.damage-animation {
        animation: damage-animation 0.10s infinite;
}
@keyframes damage-animation {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

/* Media query: smaller phones */
@media screen and (max-width: 576px) {
    .move-btn-left {
        transform: translate(-95%, 0);
    }
    .move-btn-right {
        transform: translate(95%, 0);
    }
}

/* Media query: landscape phones (max height 400px) */
@media screen and (max-height: 400px){
    .btn-area {
        margin-top: 5rem;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) { 
    .btn-area {
        width: 32rem;
    }
    .card {
        width: 21rem;
        height: 24rem;
    }
    #start-btn {
        top: 7rem;
        width: 15rem;
    }
}
/* Media query: Larger screens (1000px and up) */
@media screen and (min-height: 1000px) { 
    .btn-area {
        top: 25rem;
        bottom: auto;
    }
}