/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

/* Color variables */
:root {
    --primary: #fafafa;
    --secondary: #3a3a3a;
    --critical: crimson;
    --bg-player-card-front: cyan;
    --bg-player-card-back: pink;
    --bg-color: #353935;
    --goblin1: #FCB1A6;
    --goblin2: #B5EF8A;
    --goblin3: #46B1C9;
    --skeleton1: #98CE00;
    --skeleton2: #89A6FB;
    --skeleton3: #0091AD;
    --orc: #CE8147;
    --troll: #D2D5DD;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    background-color: var(--bg-color);
    font-family: 'DotGothic16', sans-serif;
    overflow: hidden;
    color: var(--secondary);
    background-image: url(../images/playboard.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#top-area {
    top: 0;
}

#bottom-area {
    bottom: 0;
}

.game-area {
    background-color: transparent;
    position: absolute; 
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

 /* Card Styles */
.card {
    position: absolute;
    width: 15rem;
    height: 19.75rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        opacity 500ms,
        transform 1s;
}

/* Darkens area when needed */
.dim {
    filter: brightness(75%);
}

/* Hides elements when needed */
.hidden {
    visibility: hidden;
}

.hp {
    position: absolute;
    left: 1.5rem;
    width: 4rem;
    text-align: left;
}

.ac {
    position: absolute;
    right: 1.5rem;
    width: 4rem;
    text-align: right;
}

/* Styles for the font awesome heart and shield icons */
.heart {
    color: var(--critical);
    -webkit-text-stroke: 2px var(--secondary);
}

.shield {
    color: grey;
    -webkit-text-stroke: 2px var(--secondary);
}

/* Monster card styles */
.monster-card {
    bottom: 1rem;        
}

#monster-card-front {
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 var(--secondary);
    background-size: contain;
}

.monster-stats {
    position: absolute;
    left: 0;
    bottom: 1.25rem;
    width: 100%;
    text-transform: uppercase;
}

.monster-ui {
    bottom: 4rem;
}

#monster-damage-taken {
    position: absolute;
    width: 5rem;
    height: 2rem;
    display: flex;
    left: 5rem;
    bottom: 6rem;
}

/* Backgrounds for the different monsters */
.monster-goblin1 {
    background-color: var(--goblin1);
    background-image: url(../images/monster-goblin1.webp);
}

.monster-goblin2 {
    background-color: var(--goblin2);
    background-image: url(../images/monster-goblin2.webp);
}

.monster-goblin3 {
    background-color: var(--goblin3);
    background-image: url(../images/monster-goblin3.webp);
}

.monster-skeleton1 {
    background-color: var(--skeleton1);
    background-image: url(../images/monster-skeleton1.webp);
}

.monster-skeleton2 {
    background-color: var(--skeleton2);
    background-image: url(../images/monster-skeleton2.webp);
}

.monster-skeleton3 {
    background-color: var(--skeleton3);
    background-image: url(../images/monster-skeleton3.webp);
}

.monster-orc {
    background-color: var(--orc);
    background-image: url(../images/monster-orc.webp);
}

.monster-troll {
    background-color: var(--troll);
    background-image: url(../images/monster-troll.webp);
}

/* Player card styles */
.player-card {
    top: 1rem;
}

.player-card-front, .player-card-back {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: contain;
    box-shadow: 0 4px 8px 0 var(--secondary);
}

#player-damage-taken {
    position: absolute;
    width: 100%;
    height: 2rem;
    bottom: 35%;
}

.player-card-front {
    background-color: var(--bg-player-card-front);
    transform: rotateY(0deg);
    background-image: url(../images/player-front.webp);
}
  
.player-card-back {
    background-color: var(--bg-player-card-back);
    transform: rotateY(-180deg);
    background-image: url(../images/player-back.webp);
    display: flex;
    justify-content: center;
}

.big-card {
    width: 22rem;
    height: 28.75rem;
}

/* Text styles on front card */
.player-ui {
    top: 1.25rem;
}

/* Text styles on back card */
.back-text {
    position: absolute;
    width: 80%;
}

#back-title {
    height: 2rem;
    top: 1.2rem;
    font-size: 1.8rem;
}

#back-subtitle {
    height: 1rem;
    top: 3.5rem;
}

#back-text-upper {
    height: 30%;
    top: 5rem;
}

#back-text-lower {
    height: 50%;
    top: 9rem;
}

#back-roll {
    top: 40%;
    font-size: 3rem;
    height: 3rem;
}

#back-hit {
    height: 2rem;
    top: 60%;
}

/* Start button styles */
#start-btn {
    position: absolute;
    display: flex;
    height: 2.5rem;
    width: 17.5rem;
    top: 10rem;
    margin: 1rem;
    justify-content: center;
    color: var(--primary);
    font-family: 'VT323', sans-serif;
    font-size: 2rem;
    background-color: #353935;
    border-bottom: 4px inset rgba(0,0,0,.5);
	border-left: 5px inset rgba(0,0,0,.5);
	border-right: 4px inset rgba(255,255,255,.5);
	border-top: 4px inset rgba(255,255,255,.5);
	box-sizing: border-box;
}

#start-btn:hover {
    background-color: #4E554E;
}

/* Ability buttons area */
.btn-area {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    top: auto;
    bottom: 5rem;
}

.btn {
    font-size: 48px;
    height: 4rem;
    width: 4rem;
    transition: transform 1s;
    cursor:pointer;
    border:none;
    background-size: contain;
    background-repeat: no-repeat;
}

#attack-btn {
    position: absolute;
    left: 0.5rem;
    background: url(../images/btn-atk.webp);
}

#attack-btn:active {
    background-image: url(../images/btn-atk-pressed.webp);
}


#ability-btn {
    position: absolute;
    right: 0.5rem;
    background: url(../images/btn-ability.webp);
}

#ability-btn:active {
    background-image: url(../images/btn-ability-pressed.webp);
}


/* Animations */
/* Card flip animation */
.player-card-flip {
    transform: translate(0%, -50%) rotateY(180deg);
}

/* Button fade animation */
.button-fade {
    animation: buttonFade ease 1s;
}
@keyframes buttonFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Player card attack animation */
.player-attack-animation {
    transform: translate(0%, -50%);
    transition: transform 180ms;
}

/* Monster card attack animation */
.monster-attack-animation {
    transform: translate(0%, 30%);
    transition: transform 180ms;
}

/* Animation to hide the monster card */
.hide-monster {
    transform: translate(0%, -110%) rotateX(90deg);
    opacity: 0;
}

/* Used to place the Monster card above the player card during attack animation */
.on-top {
    z-index: 3;
}

/* Animation for the text when damage is taken */
.damage-taken {
    position: absolute;
    font-size: 3.5rem;
    font-family: 'VT323', sans-serif;
    color: var(--primary);
    -webkit-text-stroke: 2px var(--secondary);
    animation: damage-taken 2s;
    visibility: visible;
}
@keyframes damage-taken {
    0% { transform: translate(0, 0); }
    25% { transform: translate(0, -7.5rem); }
    100% { transform: translate(0, -5rem); opacity: 0; }
}

/* Animation for the card when damage is taken */
.damage-animation {
        animation: damage-animation 0.10s infinite;
}
@keyframes damage-animation {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
  
/* Styles the text for critical hits */
.back-hit-critical {
    font-size: 1.5rem;
    color: var(--critical);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.damage-taken-critical {
    color: var(--critical);
}

/* Media query: smaller phones */
@media screen and (max-width: 576px) {
    .move-btn-left {
        transform: translate(-95%, 0);
    }
    .move-btn-right {
        transform: translate(95%, 0);
    }
}

/* Media query: landscape phones (max height 400px) */
@media screen and (max-height: 400px){
    .btn-area {
        margin-top: 5rem;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) { 
    .btn-area {
        width: 32rem;
    }

    .card {
        width: 18rem;
        height: 23.75rem;
    }

    .big-card {
        width: 22rem;
        height: 28.75rem;
    }

    .monster-stats {
        bottom: 1.75rem;
    }
    
    .monster-ui {
        bottom: 4.5rem;
        font-size: 1.2rem;
    }

    .player-ui {
        top: 1.5rem;
        font-size: 1.2rem;
    }
}
/* Media query: Larger screens (1000px and up) */
@media screen and (min-height: 1000px) { 
    .btn-area {
        top: 25rem;
        bottom: auto;
    }
}