/* CSS code goes here */
/* Color variables */
:root {
    --primary: #fafafa;
    --secondary: #3a3a3a;
    --highlight: gold;
    --bgcolor: rgb(34, 34, 34);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

.game-area {
    background-color: transparent;
    position: absolute; 
    width: 100%;
    height: 50%;
    /*border-radius: 6px;*/
    text-align: center;
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: grid;
    justify-content: center;
  }

.dim {
    filter: brightness(75%);
}

.monster-card {
    top: -50vh;
    z-index: 80;
    width: 21rem;
    height: 24rem;
    transform: translate(0%, -100%);
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        transform 1s;
}

.monster-alive {
    top: -2vh;
    transform: translate(0%, -15%);
}

.monster-card-front, .monster-card-back {
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.monster-card-front {
    background-color: red;
    color: black;
}

.monster-stats {
    position: absolute;
    left: 0;
    top: 10rem;
    width: 100%;
}

.hp {
    float: left;
}

.ac {
    float: right;
}

.monster-card-back {
    background-color: green;
    color: black;
    transform: rotateY(180deg);
}

.player-card {
    top: 50vh;
    width: 21rem;
    height: 24rem;
    z-index: 80;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: translate(0%, 1%);
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        transform 1s;
}

.player-card-front, .player-card-back {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.player-card-front {
    background-color: cyan;
    color: black;
    transform: rotateY(0deg);
}
  
.player-card-back {
    background-color: pink;
    color: black;
    transform: rotateY(-180deg);
    position: absolute;
}

.player-card-flip {
    transform: translate(0%, -50%) rotateY(180deg);
}

.on-top {
    z-index: 90;
}

.attack-animation {
    /*top: 20vh; */
    z-index: 90;
    transform: translate(0%, -50%);
    transition: transform 180ms;
}

.damage-taken {
    position: absolute;
    font-size: 32px;
    animation: fadeOut 2s;
    animation: damage-taken 1s;
    visibility: visible;
}
@keyframes damage-taken {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -10rem); opacity: 0;}
}

.damage-animation {
        animation: damage-animation 0.10s infinite;
}

@keyframes damage-animation {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

.btn-area {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: 30%;
}
.btn {
    font-size: 48px;
}

#result-btn {
    position: absolute;
    bottom: 1rem;
}