/* CSS code goes here */
/* Color variables */
:root {
    --primary: #fafafa;
    --secondary: #3a3a3a;
    --highlight: gold;
    --bgcolor: rgb(34, 34, 34);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
}

.game-area {
    background-color: transparent;
    position: absolute;
    width: 80%;
    height: 50vh;
    border-radius: 6px;
    text-align: center;
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    perspective: 1000px;
  }

.dim {
    opacity: 0.5;
}

.monster-card {
    top: -50vh;
    left: 5vh;
    z-index: 80;
}

.monster-alive {
    top: -2vh;
}

.monster-card-front, .monster-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.monster-card-front {
    background-color: red;
    color: black;
}

.monster-stats {
    position: absolute;
    left: 0;
    top: 10rem;
    width: 100%;
}

.hp {
    float: left;
}

.ac {
    float: right;
}

.monster-card-back {
    background-color: green;
    color: black;
    transform: rotateY(180deg);
}

.player-card {
    top: 50vh;
    left: 5vh;
    z-index: 80;
}

.player-card-front, .player-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.player-card-front {
    background-color: cyan;
    color: black;
}
  
.player-card-back {
    background-color: pink;
    color: black;
    transform: rotateY(180deg);
}

.player-card-flip {
    top: 20vh;
    transform: rotateY(180deg);
}

.on-top {
    z-index: 90;
}

.attack-animation {
    top: 20vh;
    transition:
        top 200ms,
        bottom 300ms;
}

.damage-taken {
        animation: damage-taken 0.10s infinite;
}

@keyframes damage-taken {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

.btn-area {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: 5%;
}
.btn {
    font-size: 48px;
}

#result-btn {
    position: absolute;
    bottom: 1rem;
}