/* CSS code goes here */
/* Color variables */
:root {
    --primary: #fafafa;
    --secondary: #3a3a3a;
    --highlight: gold;
    --bgcolor: rgb(34, 34, 34);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    background-color: var(--bgcolor);
    font-family: 'Noto Sans', sans-serif;
}

.game-area {
    position: absolute;
    width: 100%;
    height: 50vh;
  }
.monster-area {
    background-color: pink;
    margin-bottom: 10px;
}
.player-area {
    background-color: cyan;
    top: 50vh;
    margin-top: 10px;
}
.result-area {
    position: absolute;
    width: 70%;
    height: 20vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    margin-left: 7vh;
    margin-right: 7vh;
}
/* #result {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} */
.btn {
    font-size: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70%;
}