/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=VT323&display=swap');

/* Color variables */
:root {
    --primary: #fafafa;
    --secondary: #3a3a3a;
    --highlight: gold;
    --bgcolor: rgb(34, 34, 34);
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    background-color: white;
    font-family: 'DotGothic16', sans-serif;
    overflow: hidden;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

.game-area {
    background-color: transparent;
    position: absolute; 
    width: 100%;
    height: 50%;
    text-align: center;
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

.dim {
    filter: brightness(75%);
}

.hidden {
    visibility: hidden;
}

/* Monster card styles */
.monster-card {
    position: absolute;
    width: 21rem;
    height: 24rem;
    bottom: 1rem;
    transition:
        transform 1s,
        opacity 500ms;
}

.monster-alive {
    transform: translate(0%, -110%) rotateX(90deg);
    opacity: 0;
}

.monster-card-front, .monster-card-back {
    position: relative;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.monster-card-front {
    background-color: red;
    color: black;
}

.monster-stats {
    position: absolute;
    left: 0;
    bottom: 10rem;
    width: 100%;
}

.monster-card-back {
    background-color: green;
    color: black;
    transform: rotateX(180deg);
}

/* Used to place the Monster card above the player card during attack animation */
.on-top {
    z-index: 3;
}

/* Player card styles */
.player-card {
    position: absolute;
    top: 1rem;
    width: 21rem;
    height: 24rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition:
        top 1s,
        left 1s,
        width 750ms,
        height 750ms,
        transform 1s;
}

.player-card-front, .player-card-back {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#player-damage-taken {
    position: absolute;
    width: 100%;
    bottom: 35%;
}

.player-card-front {
    background-color: cyan;
    color: black;
    transform: rotateY(0deg);
}
  
.player-card-back {
    background-color: pink;
    color: black;
    transform: rotateY(-180deg);
}

.hp {
    float: left;
}

.ac {
    float: right;
}

/* Button area */
.btn-area {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 15rem;
}

.btn {
    font-size: 48px;
    width: 4rem;
    border-radius: 50%;
    transition: transform 1s;
}

#attack-btn {
    position: absolute;
    left: 0.5rem;
}

#ability-btn {
    position: absolute;
    right: 0.5rem;
}

/* Animations */
/* Card flip animation */
.player-card-flip {
    transform: translate(0%, -50%) rotateY(180deg);
}

/* Monster card attack animation */
.monster-attack-animation {
    transform: translate(0%, 30%);
    transition: transform 180ms;
}

/* Player card attack animation */
.player-attack-animation {
    transform: translate(0%, -50%);
    transition: transform 180ms;
}

/* Animation for the text when damage is taken */
.damage-taken {
    position: absolute;
    font-size: 3.5rem;
    font-family: 'VT323', sans-serif;
    color: white;
    -webkit-text-stroke: 2px black;
    animation: fadeOut 2s;
    animation: damage-taken 1s;
    visibility: visible;
    z-index: 4;
}
@keyframes damage-taken {
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, -10rem); opacity: 0;}
}

/* Animation for the card when damage is taken */
.damage-animation {
        animation: damage-animation 0.10s infinite;
}
@keyframes damage-animation {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }

/* Media query: smaller phones */
@media screen and (max-width: 576px) {
    .move-btn-left {
        transform: translate(-95%, 0);
    }
    .move-btn-right {
        transform: translate(95%, 0);
    }
}

/* Media query: landscape phones (max height 400px) */
@media screen and (max-height: 400px){
    .btn-area {
        margin-top: 5rem;
    }
}

  /* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) { 
    .btn-area {
        width: 32rem;
    }
}